<div class="wrap">
  <div class="search">
    <form action="/" method="POST">
      <input
        type="text"
        name="search"
        placeholder="Enter City Name"
        class="searchTerm"
        required
      />
      <input type="submit" class="searchButton" value="search" />
    </form>
  </div>
</div>
